#home {
    position: absolute;
    padding-top: 100px;
    width: 100%;
    height: calc(100% - 175px);
}

#home-title {
    margin-left: 75px;
    border-left: 3px azure solid;
    padding-left: 50px;
}

#home-subtitle {
    font-weight: 300;
    /* font-size: 26px; */
    font-size: min(26px, 1.2vw);
}

#home-name {
    font-size: min(164px, 7.5vw);
    letter-spacing: 12px;
}